@import 'tailwindcss';

@theme {
  --color-sky: #29abe2;
  --color-bluedark: #4ea8de;
  --color-gray-100: #d9d9d9;
  --color-gray-200: #b4b4b4;
  --color-gray-300: #808080;
  --color-gray-400: #333333;
  --color-gray-500: #262626;

  --breakpoint-xs: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
